<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assaf Oren CV</title>
    <link rel="stylesheet" href="../static/CSS/cv.css">
</head>
<body>

       <div class="grid-container">
            <div class="Details">
                <h1> Assaf Oren </h1>
                <p>
                       Date of Birth: 08.01.1993 | Email: assaforen8@gmail.com | Mobile: 054-5894707
                </p>
                <br>
                <div class="Buttons" align="center">
                <button type="submit" class="DownloadButton" onclick=""> Download CV </button>
                </div>
            </div>
            <div class="image" align="center">
            <img src="../static/UI/Me.jpeg" alt= "Me" style="max-width: 75%; height: auto;">
            </div>
            <div class="linkedin">
                <a href="www.linkedin.com/in/assaforen"><img src="../static/UI/linkedinpicture.jpg" alt= "linkedin picture" style="max-width: 40%; height: auto;"></a>

            </div>

        </div>
</body>
</html>



